@import 'util/_unit';
@import 'util/breakpoint';
@import 'settings/_settings';
@import 'xy-grid/_gutters';
@import 'xy-grid/_cell';
@import 'scss/regular';

$red-high: rgb(255,55,52);
$red-med: rgb(242,84,72);
$red-low: rgb(187,73,59);
$green-high: rgb(153,227,147);
$green-med: rgb(136,193,133);
$green-low: rgb(103,215,103);
$amber-high: rgb(255,228,0);
$amber-med: rgb(213,191,0);
$amber-low: rgb(255,205,1);

.vertical-spacing {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.messenger {
  border: 1px solid;
  color: black;
  padding: 15px 30px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 200;
  clear: both;
  &.error {
    color: white;
    border-color: $red-med;
    background-color: $red-low;
    background-image:linear-gradient($red-high, $red-low);
  }
  &.message {
    color: black;
    border-color: $green-med;
    background-color: $green-low;
    background-image:linear-gradient($green-high, $green-low);
    a {
      color: #006DA0;
    }
  }
  &.warning {
    color: black;
    border-color: $amber-med;
    background-color: $amber-low;
    background-image:linear-gradient($amber-high, $amber-low);
    a {
      color: #006DA0;
    }
  }
  a {
    color: #beeaff;
    font-weight: 400;
    text-decoration: underline;
  }
  ul {
    list-style: none;
    margin: 0px;
    li:before {
      content: $fa-var-chevron-right;
      font-family: FontAwesome;
      margin-left: -20px;
      margin-right: 10px;
    }
  }
}

// Main table.
table.table_form_table {
  input {
    margin: 0;
  }
  .list_user_tag span:hover {
    background-color: #151a56;
    color: white;
  }
}

.table_form_table, #new_comment_box table{
  @include xy-cell(12);
  td{
    vertical-align: middle;
  }
}

.table_edit_image {
  max-height: 100px;
  max-width: 400px;
}

// Table container.
.list_table_container {
  overflow-x: auto;
  overflow-y: hidden;
  table tr {
    border-top: 1px solid #bbb;
    &.linked_list_container_row {
      border-top: none;
      background-color: #fff;
      td {
        padding: 0;
        table {
          border: 0;
          margin-bottom: 5px;
          tr.linked_list_row {
            border-top: 1px dashed #ccc;
            background-color: #fff;
            td {
              padding: 9px 10px;
              table {
                border: 0;
                padding: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

// Allows editors to see hidden reveal modals.
.editor-active .reveal {
  display: block;
  visibility: visible;
  position: inherit !important;
  border: 2px solid red;
}

// Table linked options selection.
.categories_box {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: auto;
  display: inline-block;
  padding: 5px;
  margin: 5px 10px 5px 0;
}
.table_link_box_selected {
  border: 1px solid lightgrey;
  border-radius: 4px;
  display: inline-block;
  width: auto;
  margin: 5px 5px 5px 0;
  padding: 5px;
}

// Form date time selection.
.datePop, .timePop, .dateTimePop {
  display: inline;
  width: auto;
  padding-right: 20px;
}

.icon-16 {
  height:16px;
}
.icon-32 {
  height:32px;
}

// Captcha
div.captcha_container {
  display:inline-block;
  input {
    height:0;border:0;padding:0;margin:0;
  }
}

.chart_totals {
  clear: both;
}
.autocomplete_options {
  z-index: 5;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  background: #ffffff;
  border: 1px solid #cccccc;
  padding: 5px;
  span {
    display: block;
  }
}

/* AJAX FORMS */
.loading-container {
  position: relative;
  overflow: hidden;
  transition: all .5s ease;
  .white-veil {
    z-index: 500;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    transition: all .5s ease;
  }
}

.spinner {
  &:before {
    content: ' ';
    background: url(/images/lightning/cog-spinner.gif) center no-repeat;
    width: 100%;
    height: 100%;
    display: block;
  }
  width: 100%;
  height: 100%;
}

/* DIALOG BOX */
.reveal {
  #dialog_box_inner {
    overflow: hidden;
    padding: 10px;
  }
  .loader_image {
    margin: 75px auto;
    left: 50%;
    top:50%;
  }
  #dialog_buttons {
    padding: 5px;
    overflow: hidden;
    margin: 10px;
    text-align:center;
    li {
      padding: 5px;
      background: blue;
      color: white;
      list-style: none;
      display: inline;
      margin: 10px;
      border: 1px solid black;
      overflow: hidden;
      width:auto;
      white-space: nowrap;
    }
  }
  .header_name {
    text-align:right;
    clear:both;
    margin-bottom:5px;
    color:white;
    font-size:12pt;
  }

  .frame {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
  }
  .close-button {
    top:.5rem;
    right:.5rem;
  }
}

/**
 * Success/Error messages
 */
#message_status {
  width:100%; height: 300px; overflow:auto; border:1px solid grey; white-space: pre-wrap;
}
.green {
  color: #008000;
}
.red {
  color: red;
}
.strong {
  font-weight: bold;
}

/**
 * Facebook
 */
.fb_iframe_widget span {
  display: block !important;
}

.pagination {
  overflow: hidden;
}

.youtube {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  transition: all 200ms ease-out;
  cursor: pointer;
  top: 0;
  left: 0;
}

// Thanks to Alexis Ulrich:
// http://www.sitepoint.com/faster-youtube-embeds-javascript/
.youtube .play {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAERklEQVR4nOWbTWhcVRTHb1IJVoxGtNCNdal2JYJReC6GWuO83PM/59yUS3FRFARdFlwYP1CfiojQWt36sRCUurRIdVFXIn41lAoVdRGrG1M01YpKrWjiYmaSl8ybZJL3cd+YA//NLObd3++eO8x79z5jSq5Gw+8kov0AP8vMR5l1BtBZQM4B8ks75wCdZdYZZj5qLZ4hov2Nht9Z9vhKKSIaB/gI4M4w62KeAO6Mte4lYOq20FxrlqqOibhHmeWbvNC9ZfDX1mLae391aN6limO/gwgvAPJbWeAZuSDingdwXTBw7/0IsyaA/Fkh+KqOkD+YNfHej1QKD+y7iVlOhgLvFqFfNJvNGyuBJ+KDAF8MDd0tgS8y64OlgSdJMsysL4cG7SOHkyQZLhTee7+d2R2rAVy/S+Jd7/32ouBHAP4gNNRGQyTHc/84NhqNywZp5rvjjnnvt21aABFeCQ+RLwAf2hQ8s7sv9OCLk6AHNgQvIrvbfzKCD76g/O6cu7lf/iER/aQGgy448pExZmhdegAPhR9sObFWH1gT3lp7DaA/5bkIgJhZPgsNmz02novj+KqeApj1ubwXWe4kdyeznAgNvTpE/HQmvKqOMeuFogTUVQSRno+iaLRLAJF7uIgL9O4ubgL8aWgB7S44mNX+35YpICUiAvS9sBLkq1WzT+NFffl6AuoiApi6NT37h6sWkBIRZGkQ8YtLgyji6e1mBYTqCEBPG2Naz+0BWQgtoGoRgCzEsd9hAN1X5BfnFZASUfrSAFQNsyZ1FJASUVpHiLinDJG8U2cBZYogkrcNs5waBAGdstbeU9zdqpw0gPwwSAI6VUxHyFlDpOcHUUBBIuYNs14aZAE5RVwyzPr3/0EAEY0TyfGNjBWQvwZ +CTSbehfAH29mrID8bET0+0EUkAd8WYDOmqJ3ecsG30yr9wqRfm6Y+a1BEFDEjHfHvWmY9ck6CygHvBVr8Xhtb4ZE5HZA3y8DvBNA1TjnrmXWf+sioMwZX5V/VHXMGGMMoKdDCxCRvRWBdzKzdHEO+EisilbPyopHYqp6S9UCAsz4iojI7hUDAtyXVQgIDd6KnOoaWNkbI6FaPSuZGyMArsi7MZoloB4zviI/Nhr3X95jltwTRQmoIfgisy5ai+me67OI7fE4nrqjrqfK1t0eby0FPRB6oGVlchL3rgnfrq19RKbVBdhV9IOSwJmfmJi4vi/4ThERitwyCxVAFqydshuCX5awhQ9KtmuIWd8IDZED/nXT77rvVVv6sHRKwjYi91poqP7Dr+Y6JJ1VSZIMA3wkPNy6bX+o8Bcm0sXMdwM8Fxo0A3xORPaWBp6uPXsmbxCRD0NDL0dOANhVCXy6iAjMcjbcrMt3RITKwdMVRdFo+y5yvkL4eWZ+zHt/ZVD4dEVRNGotpst+dZZZH8k86lqn2pIvT/eqrNfn2xuyqYPZ8mv7s8pfn/8Pybm4TIjanscAAAAASUVORK5CYII=") no-repeat center center;
  background-size: 64px 64px;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .8;
  filter: alpha(opacity=80);
  transition: all 0.2s ease-out;
}

.youtube .play:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.video-js {
  width: 100% !important;
}

// Common buttons
.smooth {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.button-spacer {
  width: 10px;
  display: inline-block;
}

.button {
  outline:none;
  font-size: 24px; font-weight: bold;
  @extend .smooth;
  border-radius: 5px !important;
  text-shadow:0 -1px 0 rgba(0,0,0,0.15);
  &.orange {
    color: white !important;
    background-color: #f8af00;
    &:hover {
      background-color: #f9bb00;
    }
    &:active{
      background-color: #f38800;
    }
    &.bevel {
      background-image:linear-gradient(#f8af00, #f38800);
      box-shadow: inset 0px -.25em 0 0 #ab4000;
    }
    &.bevel:hover {
      background-image:linear-gradient(#f9bb00, #f07700);
      box-shadow: inset 0px -.25em 0 0 #a92e00;
    }
    &.bevel:active {
      background-image:linear-gradient(#f38800, #f8af00);
      box-shadow: inset 0 .25em 3px 0 #a92e00;
    }
  }
  &.black {
    color: white !important;
    background-color: #000;
    &:hover {
      background-color: #444;
    }
    &:active {
      background-color: #222;
    }
  }
  &.red {
    color: white !important;
    background-color: #c80000;
    &:hover {
      background-color: #8b0000;
    }
    &:active{
      background-color: #690000;
    }
    &.bevel {
      background-image:linear-gradient(#c80000, #8b0000);
      box-shadow: inset 0px -.25em 0 0 #690000;
    }
    &.bevel:hover {
      background-image:linear-gradient(#c80000, #8b0000);
      box-shadow: inset 0px -.25em 0 0 #690000;
    }
    &.bevel:active {
      background-image:linear-gradient(#8b0000, #c80000);
      box-shadow: inset 0 .25em 3px 0 #690000;
    }
  }
  &.blue {
    color: white !important;
    background-color: #26C7FD;
    &:hover {
      background-color: #26C7FD;
    }
    &:active{
      background-color: #4b5cc0;
    }
    &.bevel {
      background-image:linear-gradient(#26C7FD, #4b5cc0);
      box-shadow: inset 0px -.25em 0 0 #1a295d;
    }
    &.bevel:hover {
      background-image:linear-gradient(#26C7FD, #4b5cc0);
      box-shadow: inset 0px -.25em 0 0 #1a295d;
    }
    &.bevel:active {
      background-image:linear-gradient(#4b5cc0, #26C7FD);
      box-shadow: inset 0 .25em 3px 0 #1a295d;
    }
  }
  &.green {
    color: white !important;
    background-color: #2eae1c;
    &:hover {
      background-color: #2eae1c;
    }
    &:active {
      background-color: #247417;
    }
    &.bevel {
      background-image:linear-gradient(#2eae1c, #247417);
      box-shadow: inset 0px -.25em 0 0 #154811;
    }
    &.bevel:hover {
      background-image:linear-gradient(#2eae1c, #247417);
      box-shadow: inset 0px -.25em 0 0 #154811;
    }
    &.bevel:active {
      background-image:linear-gradient(#247417, #2eae1c);
      box-shadow: inset 0 .25em 3px 0 #154811;
    }
  }
  &.grey {
    color: white !important;
    background-color: #a5a5a5;
    &:hover {
      background-color: #a5a5a5;
    }
    &:active{
      background-color: #a4a4a4;
    }
    &.bevel {
      background-image:linear-gradient(#a5a5a5, #a4a4a4);
      box-shadow: inset 0px -.25em 0 0 #888888;
    }
    &.bevel:hover {
      background-image:linear-gradient(#a5a5a5, #a4a4a4);
      box-shadow: inset 0px -.25em 0 0 #888888;
    }
    &.bevel:active {
      background-image:linear-gradient(#a4a4a4, #a5a5a5);
      box-shadow: inset 0 .25em 3px 0 #888888;
    }
  }
  &.small {
    padding: .5rem;
    font-size: .75rem;
    display: inline;
    font-weight: 500;
  }
  &.medium {
    padding: 1rem;
    font-size: 1rem;
    display: inline;
    font-weight: 500;
  }
  &.form-inline {
    font-size: 1rem;
    width: 100%;
    padding: 0;
    height: 2.3125rem;
    line-height: 2.3125rem;
  }
}
span.form-inline {
  font-size: 1rem;
  width: 100%;
  height: 2.3125rem;
  line-height: 2.3125rem;
}

// Forms
.form {
  .radios .field-label {
    font-size: 18pt;
  }
  .field {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .radio-group {
    margin-top: 20px;
    margin-left: 40px;
  }
}

// Social Signing Buttons
.social-signin {
  display: inline-block;
  width: 300px;
  border: 1px solid grey;
  border-radius: 5px;
  height: 42px;
  color: white;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &.google {
    background-color: #f32e06;
    border-color: #b52b06;
    i {
      border-right: 1px solid #b52b06;
    }
  }
  &.facebook {
    background-color: #3c5c9a;
    border-color: #354279;
    i {
      border-right: 1px solid #354279;
    }
  }
  &.twitter {
    background-color: #28aae1;
    border-color: #1f82ae;
    i {
      border-right: 1px solid #1f82ae;
    }
  }
  i {
    width: 40px;
    font-size: 30px;
    line-height: 40px;
    height: 40px;
    position: absolute;
    text-align: center;
  }
  span {
    width: 249px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    position: absolute;
    left: 41px;
    text-align: center;
  }
}
@media print {
  .social-share {
    display:none;
  }
}
.social-share {
  width: 100%;
  text-align: center;
  @include breakpoint(small only) {
    font-size: 12px;
  }
  div.share {
    display: inline-block;
    color: white;
    padding: 10px 0;
    width: 20%;
    cursor: pointer;
    &.google {
      background-color: #f32e06;
    }
    &.facebook {
      background-color: #3c5c9a;
    }
    &.twitter {
      background-color: #28aae1;
    }
    &.linkedin {
      background-color: #166eab;
    }
    &.pinterest {
      background-color: #bd081c;
    }
    &.email {
      background-color: #646f72;
      a {
        color: white;
      }
    }
  }
}
.semi-white {
  background-color: rgba(255, 255, 255, .8);
}
.cover {
  background-size: cover;
  background-position: center;
}
.inline-block {
  display: inline-block !important;
}

.cms_edit_image, .cms_save_image {
  position: relative !important;
  z-index: 500;
}
.page-edit-links {
  margin: 20px;
  position: absolute;
  z-index: 500;
}

pre.debug {
  white-space: pre-wrap;
}
.reveal {
  top: 20%;
  max-height: 60%;
  overflow-y: auto;
  iframe.content-loader {
    border: 0;
    width: 100%;
  }
}

.right-column {
  background: none;
  border: 0;
  li {
    border-bottom: 1px solid #eee;
  }
}

.responsive-embed {
  .embed-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .video-js {
      height: 100%;
      min-height: 0;
    }
  }
}
