[submodule "Vendor/htmlpurifier"]
	path = Vendor/htmlpurifier
	url = https://github.com/ezyang/htmlpurifier.git
[submodule "Vendor/PHPMailer"]
	path = Vendor/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "Vendor/foundation"]
	path = Vendor/foundation
	url = https://github.com/zurb/foundation.git
[submodule "Vendor/jquery"]
	path = Vendor/jquery
	url = https://github.com/jquery/jquery.git
[submodule "Vendor/compass"]
	path = Vendor/compass
	url = https://github.com/Compass/compass
[submodule "Vendor/ckeditor"]
	path = Vendor/ckeditor
	url = https://github.com/ckeditor/ckeditor-releases.git
[submodule "Vendor/plancakeEmailParser"]
	path = Vendor/plancakeEmailParser
	url = https://github.com/macdabby/official-library-php-email-parser.git
[submodule "Vendor/chartjs"]
	path = Vendor/chartjs
	url = https://github.com/macdabby/Chart.js.git
[submodule "Vendor/BounceHandler"]
	path = Vendor/BounceHandler
	url = https://github.com/Rambomst/PHP-Bounce-Handler.git
[submodule "Vendor/jquery-validation"]
	path = Vendor/jquery-validation
	url = https://github.com/jzaefferer/jquery-validation.git
[submodule "Vendor/videojs"]
	path = Vendor/videojs
	url = https://github.com/videojs/video.js.git
[submodule "Vendor/facebooksdk"]
	path = Vendor/facebooksdk
	url = https://github.com/facebook/facebook-php-sdk-v4.git
[submodule "Vendor/googleapiclient"]
	path = Vendor/googleapiclient
	url = https://github.com/google/google-api-php-client.git
[submodule "Vendor/twitterapiclient"]
	path = Vendor/twitterapiclient
	url = https://github.com/abraham/twitteroauth.git
[submodule "Vendor/Font-Awesome"]
	path = Vendor/Font-Awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "Vendor/tinymce"]
	path = Vendor/tinymce
	url = https://github.com/tinymce/tinymce
[submodule "Vendor/elfinder"]
	path = Vendor/elfinder
	url = https://github.com/Studio-42/elFinder.git
