[submodule "Vendor/htmlpurifier"]
	path = Vendor/htmlpurifier
	url = https://github.com/ezyang/htmlpurifier.git
[submodule "Vendor/PHPMailer"]
	path = Vendor/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "Vendor/foundation"]
	path = Vendor/foundation
	url = https://github.com/zurb/foundation.git
[submodule "Vendor/recaptcha"]
	path = Vendor/recaptcha
	url = https://github.com/macdabby/recaptcha-php.git
[submodule "Vendor/jquery"]
	path = Vendor/jquery
	url = https://github.com/jquery/jquery.git
[submodule "Vendor/compass"]
	path = Vendor/compass
	url = https://github.com/Compass/compass
[submodule "Vendor/ckeditor"]
	path = Vendor/ckeditor
	url = https://github.com/ckeditor/ckeditor-releases.git
[submodule "Vendor/ckfinder"]
	path = Vendor/ckfinder
	url = https://github.com/jonlil/ckfinder.git
[submodule "Vendor/plancakeEmailParser"]
	path = Vendor/plancakeEmailParser
	url = https://github.com/macdabby/official-library-php-email-parser.git
[submodule "Vendor/chartjs"]
	path = Vendor/chartjs
	url = https://github.com/macdabby/Chart.js.git
[submodule "Vendor/BounceHandler"]
	path = Vendor/BounceHandler
	url = https://github.com/Rambomst/PHP-Bounce-Handler.git
[submodule "Vendor/jquery-validation"]
	path = Vendor/jquery-validation
	url = https://github.com/jzaefferer/jquery-validation.git
